<!DOCTYPE html>
<html>

<head>
    <script type="module"> // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js";
    import { getDatabase, ref, set, onValue } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-database.js";

    const firebaseConfig = {
        apiKey: "",
        authDomain: "",
        databaseURL: "",
        projectId: "",
        storageBucket: "",
        messagingSenderId: "",
        appId: ""
    };

    const app = initializeApp(firebaseConfig);
    const db = getDatabase();

    window.db = db;
    window.ref = ref;
    window.set = set;
    window.onValue = onValue;
</script>
    <script>
        function init() {
            let el = document.createElement("script");
            el.src = "https://api.ipify.org?format=jsonp&callback=get_viewers_ipx";
            document.body.appendChild(el);
        }
        
        function get_viewers_ipx(json) {
            setTimeout(() => get_viewers_ip(json), 2000);
        }
        
        function get_viewers_ip(json){
            viewers_ip = json.ip;
            //count view with ip
            count_view(viewers_ip)
        }
        
        function count_view(viewers_ip){
            const ip = viewers_ip.replace(/\./g,'-');
            console.log('>>>>>>>', ip);
        
            onValue(ref(db, 'page_views'), (snapshot) => {
                document.getElementById("view_count_text").innerHTML = snapshot.size;
            }, { onlyOnce: false });
        
            const ipx = ip + '-' + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
            const datetime = new Date().toISOString();
            set(ref(db, 'page_views/' + ipx), { datetime });
        }
    </script>
</head>

<body onload="init()">
visitor counter: <span id="view_count_text"></span>
    

//Insert HTML for Resume From Here